 <div class="jumbotron">
      <div class="container">
        <h1>A Relationship Management Tool</h1>
        <p>A lifesaver for a few bucks a month... <br />
        Because we could all use help staying out of trouble.</p>
        <br />
        <p><%= link_to "Sign Up Today", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %>
         </p>
      </div>
    </div>



    <div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-magic"></i> Holiday Reminders</h3>
            <p>Never forget another holiday, milestone or "special day" again. We'll send you email reminders and gift recommendations.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-heart"></i> Less Work for You</h3>
            <p>You'll never have to visit another flowers website again. Let us know she's pissed and we'll send flowers for you from you.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-beer"></i> She'll Never Know</h3>
            <p>Anything sent to her will look like it's coming straight from a store or florist. She'll never know how clever you really are.</p>
          </div>

        </div>
      </div>
    </div>
