<div class="heading">
<h1>What do you need us to do? </h1>

<div class="container">
<div class="row">
  <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Send a Gift on My Behalf</h3></div>
                <div class="panel-body">
                <ul>
                  <li>You set a budget.</li>
                  <li>You'll receive gift recommendations via email.</li>
                  <li>Once you select a gift we will take care of wrapping and sending it.</li>
                </ul>
              </div>
            </div>
  </div>
   <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Send Flowers on My Behalf</h3></div>
                <div class="panel-body">
                <ul>
                  <li>You set a budget and include any message that you want to send with the flowers.</li>
                  <li>ManSavers will personally pick and send the flowers with a local flower shop.</li>
                </ul>
              </div>
            </div>
  </div>



   <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Something Else for Me</h3></div>
                <div class="panel-body">
                <ul>
                  <li>Need to send a card or something free.</li>
                  <li>This is the "I'm on a budget" option.</li>
                </ul>
              </div>
            </div>
  </div>




</div>
</div>
