<div class="heading">
  <h1>You can thank us later for signing up.</h1>
<p>What happens now?</p>
<p>You can either finish setting up your account by providing more information about your significant other or come back later and make another smart decision. </p>
<%= link_to "Finish Setting Up My Account", new_recipient_url, class: "btn btn-success", role: "button" %>
<p>(Don't worry - you won't have to fill in any personal information about yourself.)</p>
</div>
